<div class="jumbotron">
    <h1>F# + ASP.NET</h1>
    <p class="lead">
        Pure F# ASP.NET web apps are a combination of several excellent technologies that allow you to build complex web applications in less time. To make your experience
        even more appealing, we recommend following the instructions on
        <a href="http://bloggemdano.blogspot.com/2013/11/adding-new-items-to-pure-f-aspnet.html">this blog post</a> and
        installing the <a href="http://visualstudiogallery.msdn.microsoft.com/f1dae7fe-1ecc-4f1b-86b5-32a2970d012a?SRC=Home">F# Web Item Templates</a>.
    </p>
    <p>To learn more about ASP.NET MVC or Web API visit the <a href="http://go.microsoft.com/fwlink/?LinkId=301870">ASP.NET site</a>.</p>
    <p>To learn more about web programming in F# visit <a href="http://fsharp.org/webstacks/">fsharp.org</a></p>

    <a role="button" class="btn btn-default btn-large" id="startStopBtn">Start/Stop</a>

    <div id="status"></div>

    <h4>Controls</h4>

    <div class="form-group">
        <label for="width">Width</label>
        <input type="text" id="width" class="form-control" placeholder="Width" />        
    </div>

    <div class="form-group">
        <label for="width">Height</label>
        <input type="text" id="height" class="form-control" placeholder="Height" />
    </div>

    <div class="form-group">
        <label for="colour">Colour</label>
        <select id="colour" class="form-control">
            <option value="0">Gray</option>
            <option value="1">Bgr</option>
            <option value="2">Bgra</option>
            <option value="3">Hsv</option>
            <option value="4">Hls</option>
            <option value="5">Lab</option>
            <option value="6">Luv</option>
            <option value="7">Xyz</option>
            <option value="8">Ycc</option>
        </select>                
    </div>

    <a role="button" id="submitBtn" class="btn btn-primary">Save</a>

    <div class="clearfix"></div>
       
    <img id="testImg" src="" />

</div>

@section Scripts {
    
    <script type="text/javascript" src="~/Scripts/alchemy-client.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
                        
            var running = false;
            var camera;
            var AlchemyServer;
                                    
            function Connect() {
                // If we're using the Flash fallback, we need Flash.
                if (!window.WebSocket && !swfobject.hasFlashPlayerVersion('10.0.0')) {
                alert('Flash Player >= 10.0.0 is required.');
                return;
                }

                // Set up the Alchemy client object
                AlchemyServer = new Alchemy({
                    Server: '192.168.1.209',
                    Port: '81',
                    Action: 'chat',
                    DebugMode: true
                });

                console.log('Connecting...');
                $('#status').removeClass('offline').addClass('pending').text('Connecting...');

                AlchemyServer.Connected = function() {
                    $('#status').removeClass('pending').addClass('online').text('Connected...');
                    console.log('Connection established!');
                    running = !running;
                };

                AlchemyServer.Disconnected = function () {
                    $('#status').removeClass('online').addClass('offline').text('Disconnected...');
                    console.log('Connection closed.');
                    running = !running;
                };

                AlchemyServer.MessageReceived = function(event) {
                ParseResponse(event.data);
                };

                AlchemyServer.Start();
            };
            
            function ParseResponse(response) {
                var data = JSON.parse(response);
                
                if (data.Type == "image") {
                    $('#testImg').attr('src', 'data:image/jpg;base64,' + data.Message)
                }
                else {
                    console.log("error: " + data.Message)
                }
                                
            }
            
            $('#submitBtn').click(function () {

                if (running) {
                    var height = $('#height').val();
                    var width = $('#width').val();
                    var colour = $('#colour').val();

                    AlchemyServer.Send({ Status: "connect", Width: width, Height: height, Colour: colour });
                }

            })

            $('#startStopBtn').click(function () {                
                if(running)                    
                {
                    AlchemyServer.Send({ state: "disconnect" });
                }                    
                else
                {                  
                    Connect();                                        
                }                               
                
            })
            
        });

</script>

}
